.schedule_grid .schedule_header {
    top: 50px;
    display: grid;
    grid-template-columns: 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px 380px !important;
    grid-template-rows: 50px 1fr;
    width: 4560px !important;
    margin-left: 80px;
    background-color: #333;
    z-index: 5;
}
.rest_card_header {
    background-color: #000000;
    height:35px;
    padding-left: 25px;
    padding-top: 7px;
    font-size: 13px;
    color: #FFFFFF;
}
.rest_card_textarea {
    width:100%;
    height:100%;
    border:none;
    font-size: 13px;
    resize: none;
}
.btn_danger {
    background-color: #c82333;
    color: #fff;
    border-color: #bd2130;
}
.d-none {
    display: none !important;
}

/* Add css BC_RSV-125 */
.card-position-move{
    border-bottom: 3px solid rgb(33 199 249) !important
}
.ticket_number {
    margin-left: 5px;
}
.schedule_card .schedule_card_body {
    padding: 5px 10px 1px 10px !important;
}
.reserve-card-frame {
    margin: 8px 10px 8px 10px !important;
}

/* Add css BC_RSV-210 */
.schedule_container .schedule_meta {
    top: 50px;
}
.scroll_header {
    overflow: scroll hidden;
    position: sticky;
    top: 3.5rem;
    z-index: 5;
}
.scroll_footer {
    overflow:scroll hidden;
    position: relative;
}
.time_1000 {
    margin-top: 17px;
}
.schedule_grid .schedule_header > .item:first-child::before {
    left: -81px;
}
.schedule_grid:not(.schedule_horizontal) {
    background: #fbfbfb url("images/schedule_body_bg.gif") repeat-x 0 -300px;
}
.schedule_grid.time_1000 .img_current_time_1000,
.schedule_grid.time_1030 .img_current_time_1030,
.schedule_grid.time_1100 .img_current_time_1100,
.schedule_grid.time_1130 .img_current_time_1130,
.schedule_grid.time_1200 .img_current_time_1200,
.schedule_grid.time_1230 .img_current_time_1230,
.schedule_grid.time_1300 .img_current_time_1300,
.schedule_grid.time_1330 .img_current_time_1330,
.schedule_grid.time_1400 .img_current_time_1400,
.schedule_grid.time_1430 .img_current_time_1430,
.schedule_grid.time_1500 .img_current_time_1500,
.schedule_grid.time_1530 .img_current_time_1530,
.schedule_grid.time_1600 .img_current_time_1600,
.schedule_grid.time_1630 .img_current_time_1630,
.schedule_grid.time_1700 .img_current_time_1700,
.schedule_grid.time_1730 .img_current_time_1730,
.schedule_grid.time_1800 .img_current_time_1800,
.schedule_grid.time_1830 .img_current_time_1830,
.schedule_grid.time_1900 .img_current_time_1900,
.schedule_grid.time_1930 .img_current_time_1930 {
    background: #fbfbfb url("images/schedule_body_bg.gif");
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #979a9c;
    border-radius: 10px;
}
.schedule_grid.time_1900 .schedule_time .time_1900,
.schedule_grid.time_1930 .schedule_time .time_1930 {
    background: #31388f;
}